# Allgemeine Systemdateien

.DS_Store
Thumbs.db

#Laravel Dateien

Laravel/bootstrap/compiled.php
Laravel/vendor
Laravel/node_modules
Laravel/bower_components
Laravel/composer.phar
Laravel/composer.lock
Laravel/.env.*.php
Laravel/.env.php
Laravel/public/video
Laravel/doc
Laravel/tests/_output
Laravel(secret.json
Laravel/secret_db.json

# Ember Dateien
Ember/dist
Ember/tmp
Ember/node_modules
Ember/bower_components
Ember/.sass-cache
EMber/connect.lock
Ember/coverage/*
Ember/libpeerconnection.log
Ember/npm-debug.log
Ember/testem.log
