# Allgemeine Systemdateien

.DS_Store
Thumbs.db

#Laravel Dateien

/bootstrap/compiled.php
/bower_components
/doc
/node_modules
/public/video
/resources/assets/build
/storage/framework
/tests/_output
/vendor
composer.phar
composer.lock
.env
secret.json
secret_db.json
