/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
/bootstrap/compiled.php
/doc
/tests/_output
/public/video
/public/audio
.atom
.tags
.tags1
.env
.env.production
.env.dev
.DS_Store
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
