.etpM {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 200;
}
.etpM:after {
  content: "®";
  vertical-align: super;
  font-size: 0.75em;
}
.text.hidden {
  display: inline-block;
  text-indent: 1000% !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}
.hide {
  display: none !important;
}
#etpM-de {
  background-color: #fff;
}
#etpM-de#demo html.no-js {
  background-color: #fff;
  margin-top: 4rem;
}
#etpM-de#demo html.no-js #etpM-de {
  background-color: #fff;
}
#etpM-de#demo html.no-js .ui.negative.message {
  border-radius: 0;
  text-align: center;
}
#etpM-de#demo html.no-js .ui.negative.message.login {
  margin-top: -3.5rem;
}
html.js .ui.negative.message {
  display: none;
}
body {
  word-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
main {
  background-color: #fff;
  padding-bottom: 3rem !important;
  padding-top: 5rem !important;
}
footer p {
  margin-bottom: 0.5em;
}
body.admin main {
  padding-top: 7.5rem !important;
}
form.ui.modal .header {
  border-top-left-radius: .28571429rem;
  border-top-right-radius: .28571429rem;
}
.ui.button i.edit.icon,
.ui.button i.close.icon {
  margin: 0 !important;
}
.ui.action.input input[type="file"] {
  display: none;
}
.etpM.navbar-brand {
  background-image: url('/img/etpm_logo_long.png');
  background-repeat: no-repeat;
  background-size: 140px;
  width: 47px;
  display: block;
  margin-left: 12px;
  text-indent: -9999px;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}
.etpM.navbar-brand:hover {
  width: 150px;
}
#mainnav #user-actions {
  height: 3.75rem;
}
#mainnav .menu:first-child {
  background-color: rgba(94, 188, 59, 0.9);
}
#mainnav .ui.dropdown.item .menu {
  background-color: #fff;
}
#mainnav .item {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
#mainnav .seminar-name {
  display: inline-block;
  min-width: 0;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#mainnav .right.item::before {
  background: none;
}
#mainnav .etpM-branding {
  display: inline-block;
  text-indent: 1000% !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  width: 45px;
  margin-left: 5px;
  background-size: 150px;
  background-image: url("/img/etpm_logo_long.png");
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  background-repeat: no-repeat;
  border-left: none;
}
#mainnav .etpM-branding:hover {
  width: 155px;
}
#mainnav .mobile.row {
  margin-bottom: -7rem;
}
#mainnav .mobile.row .button {
  margin-top: 1rem;
}
#mainnav .mobile.row .etpM {
  font-size: 2rem;
  font-weight: 400;
}
.sidebar .accordion .title i.video.icon {
  height: 1em;
  display: block;
  font-size: 1.71428571em;
  margin: 0em auto 0.5rem;
}
#admin-actions {
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  margin-top: 3.75rem;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
}
#admin-actions .item {
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
}
#admin-actions .item.complex {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#admin-actions .or::before {
  width: 2.3em;
  height: 2.15em;
  line-height: 2;
  left: -50%;
  top: 43%;
}
#admin-actions .item:first-child {
  margin-left: 0.75rem;
}
#admin-actions .item:last-child {
  margin-right: 0.75rem;
}
#main-content-login {
  background-image: url("/img/bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 5rem;
  margin-bottom: 1rem !important;
  margin-top: 0 !important;
  box-shadow: 0 2px 10px #888;
}
#main-content-login + .ui.divider {
  display: none !important;
}
#main-content-login h1 {
  background-image: url("/img/etpm_logo_r_shadow.png");
  background-repeat: no-repeat;
  background-size: 125px;
  width: 125px;
  height: 125px;
  display: block;
  margin: 0 auto;
  text-indent: -9999px;
}
#main-content-login h2 {
  font-size: 2em;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
}
#main-content-login h3 {
  text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
}
#main-content-login #rememberme + label {
  color: #fff;
}
/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/


/*******************************
            Popup
*******************************/

.ui.calendar .ui.popup {
  max-width: none;
  padding: 0;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}


/*******************************
            Calendar
*******************************/

.ui.calendar .calendar:focus {
  outline: 0;
}


/*******************************
            Table
*******************************/

.ui.calendar .ui.table.year,
.ui.calendar .ui.table.month,
.ui.calendar .ui.table.minute {
  min-width: 15em;
}
.ui.calendar .ui.table.day {
  min-width: 18em;
}
.ui.calendar .ui.table.hour {
  min-width: 20em;
}
.ui.calendar .ui.table tr th,
.ui.calendar .ui.table tr td {
  padding: 0.5em;
  white-space: nowrap;
}
.ui.calendar .ui.table tr th {
  border-left: none;
}
.ui.calendar .ui.table tr th .icon {
  margin: 0;
}
.ui.calendar .ui.table tr th .icon {
  margin: 0;
}
.ui.calendar .ui.table tr:first-child th {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
.ui.calendar .ui.table.day tr:first-child th {
  border: none;
}
.ui.calendar .ui.table.day tr:nth-child(2) th {
  padding-top: 0.2em;
  padding-bottom: 0.3em;
}
.ui.calendar .ui.table tr td {
  padding-left: 0.1em;
  padding-right: 0.1em;
}
.ui.calendar .ui.table tr .link {
  cursor: pointer;
}
.ui.calendar .ui.table tr .prev.link {
  width: 14.28571429%;
  position: absolute;
  left: 0;
}
.ui.calendar .ui.table tr .next.link {
  width: 14.28571429%;
  position: absolute;
  right: 0;
}
.ui.calendar .ui.table tr .disabled {
  pointer-events: none;
  color: rgba(40, 40, 40, 0.3);
}

/*--------------
     States
---------------*/

.ui.calendar .ui.table tr td.today {
  font-weight: bold;
}
.ui.calendar .ui.table tr td.range {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.95);
  box-shadow: none;
}
.ui.calendar .ui.table.inverted tr td.range {
  background: rgba(255, 255, 255, 0.08);
  color: #ffffff;
  box-shadow: none;
}
.ui.calendar .calendar:focus .ui.table tbody tr td.focus,
.ui.calendar .calendar.active .ui.table tbody tr td.focus {
  box-shadow: inset 0 0 0 1px #85B7D9;
}
.ui.calendar .calendar:focus .ui.table.inverted tbody tr td.focus,
.ui.calendar .calendar.active .ui.table.inverted tbody tr td.focus {
  box-shadow: inset 0 0 0 1px #85B7D9;
}


/*******************************
         Theme Overrides
*******************************/

#main-content-dashboard .ui.two.buttons form {
  width: 50%;
}
#main-content-seminar .banner,
#main-content-seminar-lection .banner {
  z-index: 1;
}
#main-content-seminar .banner .ui.piled.segment,
#main-content-seminar-lection .banner .ui.piled.segment {
  min-height: 13em;
}
#main-content-seminar .banner .ui.fade.reveal > .visible.content,
#main-content-seminar-lection .banner .ui.fade.reveal > .visible.content {
  width: 100%;
}
#main-content-seminar #audiocollage,
#main-content-seminar-lection #audiocollage {
  width: 100%;
}
#main-content-seminar #current-lection .ui.image,
#main-content-seminar-lection #current-lection .ui.image {
  box-shadow: 0 0 2px #555;
}
#main-content-seminar #current-lection .ui.top.right.pointing.dropdown.button,
#main-content-seminar-lection #current-lection .ui.top.right.pointing.dropdown.button {
  text-align: center;
}
#main-content-seminar #infoblocks,
#main-content-seminar-lection #infoblocks {
  z-index: 0;
}
#main-content-seminar #infoblocks .column,
#main-content-seminar-lection #infoblocks .column {
  margin-bottom: 2em;
}
#main-content-seminar #infoblocks .column .ui.clearing.basic.segment,
#main-content-seminar-lection #infoblocks .column .ui.clearing.basic.segment {
  padding: 0;
  margin: 0;
}
#main-content-seminar #infoblocks .column form,
#main-content-seminar-lection #infoblocks .column form {
  display: inline-block;
}
#main-content-seminar #general-info .ui.hidden.divider,
#main-content-seminar-lection #general-info .ui.hidden.divider {
  margin-top: 0;
}
#main-content-seminar #general-info form,
#main-content-seminar-lection #general-info form {
  display: inline-block;
}
#main-content-seminar table form,
#main-content-seminar-lection table form {
  display: inline-block;
}
#main-content-seminar span.author + span.author:before,
#main-content-seminar-lection span.author + span.author:before {
  content: " & ";
}
#main-content-seminar-users tfoot form {
  display: inline-block;
}
#main-content-seminar-lection #disqus_thread {
  margin-bottom: 7em;
}
#main-content-seminar-lection .ui.three.top.attached.steps {
  border: 1px solid #ddd;
}
#main-content-demo h1 {
  background-image: url("/img/etpm_logo_r.png");
  background-repeat: no-repeat;
  background-size: 175px;
  width: 175px;
  height: 175px;
  display: block;
  margin: 0 auto;
  text-indent: -9999px;
}
#main-content-demo .circular.segment {
  width: 175px;
  height: 175px;
  margin: 0 auto;
  display: block;
}
#main-content-demo .circular.segment a {
  color: #000;
}
#main-content-demo .circular.segment a:hover {
  color: #00b2f3;
}
#main-content-demo .header.divider {
  margin-top: 4em;
  margin-bottom: 4em;
}
#main-content-demo #playdemo {
  color: #009fda;
}
#main-content-demo #playdemo:hover {
  cursor: pointer;
  color: #00b2f3;
}
#main-content-demo #demovideo img {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 5rem;
  opacity: 0.85;
}
.ui.message.message-system-edit {
  padding-right: 100px;
}
.ui.message.message-system-edit .ui.buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}
#message-new-modal .trumbowyg-box,
#message-edit-modal .trumbowyg-box {
  height: 250px;
  min-height: 250px;
}
#message-new-modal .trumbowyg-box .trumbowyg-editor,
#message-edit-modal .trumbowyg-box .trumbowyg-editor {
  height: 210px;
  min-height: 210px;
}
.ui.message p {
  margin: 0;
}
#cookie-bar {
  opacity: 0.8;
}
#cookie-bar p {
  height: 35px;
  line-height: 35px;
}
#cookie-bar .cb-enable {
  background: #5ebc3b;
}
#cookie-bar .cb-policy {
  background: #2c57d2;
}
