@import "../colour";

#main-content-seminar {
    .banner {
        z-index: 1;
        .ui.piled.segment {
            min-height: 13em;
        }
        .ui.fade.reveal > .visible.content {
            width: 100%;
        }
    }
    #audiocollage {
        width: 100%;
    }
    #current-lection {
        .ui.image {
            box-shadow: 0 0 2px @gray;
        }
        .ui.top.right.pointing.dropdown.button {
            text-align: center;
        }
    }
    #infoblocks {
        z-index: 0;
        .column {
            margin-bottom: 2em;
            .ui.clearing.basic.segment {
                padding: 0;
                margin: 0;
            }
            form {
                display: inline-block;
            }
        }
    }
    #general-info .ui.hidden.divider {
        margin-top: 0;
    }
    table form {
        display: inline-block;
    }
}

#main-content-seminar-users {
    tfoot form {
        display: inline-block;
    }
}
