{{!-- BROWSEHAPPY INFO -------------------------------------------------------}}
<!--[if lt IE 9]>
  <p class="alert alert-danger browsehappy text-center">Sie nutzen einen <strong>veralteten</strong> Browser. Bitte <a href="http://browsehappy.com/">aktualisieren Sie Ihren Browser</a>.</p>
<![endif]-->

{{!-- partial NAVIGATION -----------------------------------------------------}}
{{partial "navigation"}}

{{!-- JAVASCRIPT INFO --------------------------------------------------------}}
<div class="alert alert-danger alert-js text-center">Diese Web-App benötigt JavaScript. Sie haben JavaScript momentan deaktiviert. <a class="alert-link" href="http://www.enable-javascript.com/de/">Bitte aktivieren Sie JavaScript in Ihren Browsereinstellungen.</a></div>

{{!-- BETA INFO --------------------------------------------------------------}}
<div class="alert alert-warning text-center">Sie nutzen eine <b>Beta Version</b> der »Synthesise« Web-App. Bitte verwenden Sie unseren <a class="alert-link" href="https://bitbucket.org/Inventionate/synthesise/issues/new" target="_blank">Issue Tracker</a> um uns Probleme mitzuteilen. Vielen Dank für Ihre Hilfe!</div>


{{outlet}}

{{!-- partial FOOTER ---------------------------------------------------------}}
{{partial "footer"}}

{{!-- Die Piwikintegration überdenken! --}}
