<main id="main-content-faq" class="container">
  <h1>Häufig gestellte Fragen</h1>
  {{!-- @todo für den Druckbereich den aktuellen Buchstaben auswählen und beim Drucken ansehen. --}}

  <p>Bitte wählen Sie einen Fragebereich aus. Sollte sich Ihre Frage nach der Lektüre der hier aufgelisteten Antworten nicht geklärt haben, {{#link-to 'contact'}}wenden Sie sich bitte direkt an uns{{/link-to}}. Wir versuchen den »Häufig gestellte Fragen« Katalog ständig zu erweitern und freuen und über Ihre Anregungen und Mitarbeit.</p>

  <div class="text-center hidden-print">
    <ul class="pagination">
        {{#each unique_areas}}
          {{#link-li}}
            {{link-to this 'faqs.area' this}}
          {{/link-li}}
        {{/each}}
    </ul>
  </div>

  {{outlet}}

</main>
