<footer class="container">
  <p>
    <small>
      © 2012–2014 Gesamtkonzeption <span class="etpM"><b>e:t:p:M</b></span> Timo Hoyer | Mediengestaltung und Webentwicklung Fabian Mundt<br> {{#link-to 'imprint'}}Impressum{{/link-to}} {{!--if( ! Request::is('login') ) | <a href="#main-content">Nach oben</a> endif --}}
    </small>
  </p>
</footer>
