<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    {{!-- Brand and toggle get grouped for better mobile display --}}
      <div class="navbar-header">
        <a class="etpM navbar-brand" href="http://www.ph-karlsruhe.de/institute/ph/ew/etpm/" target="_blank">e:t:p:M</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1 class="nav-event-title hidden-md hidden-lg">{{#link-to 'index'}}Erziehungswissenschaftliche Grundfragen pädagogischen Denkens und Handelns{{/link-to}}</h1>
      </div>
    {{!-- Collect the nav links, forms, and other content for toggling --}}
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">

        {{#link-li}}
          {{link-to 'Dashboard' 'index'}}
        {{/link-li}}

        <li class="dropdown">
          <a href='#' class="dropdown-toggle" data-toggle="dropdown">online-Lektionen <b class="caret"></b></a>
          <ul class="dropdown-menu">

            {{render 'lection-nav' video}}

          </ul>
        </li>


        {{#link-li}}
          {{link-to 'Häufig gestellte Fragen' 'faqs'}}
        {{/link-li}}
        {{#link-li}}
          {{link-to 'Kontakt' 'contact'}}
        {{/link-li}}
      </ul>
      {{#link-to 'logout' id="btn-logout" class="btn btn-primary btn-block navbar-right hidden-print"}} {{!-- Auth::user()->firstname . ' ' . Auth::user()->lastname --}} abmelden{{/link-to}}
    </div>
  </div>
</nav>
