@import "colour.less";

#cookie-bar {

    opacity: 0.8;
    padding-top: 5px !important;
    padding-bottom: 5px !important;

    p {
        line-height: 35px;
    }

    .cb-enable {
        background: @green;
    }

    .cb-policy {
        background: @blue;
    }
}
