@import "colour";

#main-content-online-lektionen .one.column.row .column {
    margin-bottom: 7em !important;
}

#interactive-video {
    width: 100%;
    position: relative;
    padding-bottom: 54%;
    padding-top: 25px;
    height: 0;
    
    .video-js {
        width: 100% !important;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    img {
        position: absolute;
        
        // MEDIA QUERY EINBAUEN!!!
        top: 15px;
        right: 15px;
        width: 5rem;
        opacity: 0.85;
    }
    
    #video-notes {
        position: absolute;
        bottom: -1.5em;
        height: 1.5em;
        width: 100%;
        
        textarea {
            height: 1.5em;
            resize: none;
            border-radius: 0;
        }
        
        textarea:disabled {
            cursor: not-allowed;
        }
    }
    
    #videoplayer {
        .vjs-marker {
            margin-left: -11px !important;
            height: 15px !important;
            width: 15px !important;
            border-radius: 50% !important;
            background-color: @red !important;
            margin-bottom: 17px !important;
        }
        
        .vjs-tip {
            margin-bottom: 17px;
            font-size: 1.5em;
        }
        
        .active-marker {
            background-color: @white !important;
            height: 25px !important;
            width: 25px !important;
            margin-bottom: 13px !important;
            margin-left: -17px !important;
            border: 5px solid @black;
        }
    }
}

//@import "video-js-skin";
@import "video-js-markers";