#videoplayer {
    width: 100%;
    position: relative;
    padding-bottom: 54%;
    padding-top: 25px;
    height: 0;
    .video-js {
        width: 100% !important;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
    }
    img {
        position: absolute;
        // MEDIA QUERY EINBAUEN!!!
        top: 15px;
        right:15px;
        width: 5rem;
        opacity: .85;
    }
}

@import "video-js-skin";
@import "video-js-markers";
