.ui.message.message-system-edit {
        padding-right: 100px;
        .ui.buttons {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
#message-new-modal, #message-edit-modal {
    .trumbowyg-box {
        height: 250px;
        min-height: 250px;
        .trumbowyg-editor {
            height: 210px;
            min-height: 210px;
        }
    }
}
.ui.message p {
    margin: 0;
}
