@import "typography";
@import "colour";
#mainnav {
    .menu {
        background-color: fade(@green,90%);
    }
    .ui.dropdown.item .menu {
        background-color: @white;
    }
    .item {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
    .right.item::before {
        background: none;
    }
    .etpM {
        .text.hidden;
        width: 45px;
        margin-left: 5px;
        background-size: 150px;
        background-image: url("/img/etpm_logo_long.png");
        transition: width 1s ease;
        background-repeat: no-repeat;
        border-left: none;
    }
    .etpM:hover {
        width: 155px;
    }
    .mobile.only.row {
        .etpM {
            width: 155px;
        }
        .etpM::before {
            background: none;
        }
    }
    #subnav-container {
        margin-top: 3.6em;
        z-index: -1;
        background: none;
        #subnav {
            display: none;
            margin: 0;
        }
    }
}