@import "colour";

.etpM {
	font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-weight: 200;
}

.etpM:after {
	content:"®";
}

.hyphens(@mode: auto) {
  word-wrap: break-word;
  hyphens: @mode;
}

.text.hidden {
  text-indent: 1000% !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

// .navbar-brand
// {
// 	font-size: 2em;
// }
//
// .nav-event-title {
// 	font-weight: lighter;
// 	margin-top: -5px;
// 	padding: 0px 15px;
// 	float: left;
// 	font-size: 1.2em;
// 	line-height: 20px;
// }
//
// h1.nav-event-title a:hover {
// 	text-decoration: none;
// }
//
// @media (min-width: 768px)
// {
// 	.nav-event-title
// 	{
// 		font-size: 1.4em;
// 	}
// }
//
// @media (min-width: 992px)
// {
// 	.nav-event-title
// 	{
// 		margin-top: 15px;
// 		font-size: 1.5em;
// 	}
// }
