//////////////////////////////////////////////////
// BOOTSTRAP
//////////////////////////////////////////////////

// Core variables
@import "variables.less";
// Eigene Variableneinstellungen
@grid-float-breakpoint:		@screen-md-min;
// Core mixins
@import "mixins.less";

// Reset and dependencies
@import "normalize.less";
@import "print.less";
@import "glyphicons.less";

// Core CSS
@import "scaffolding.less";
@import "type.less";
@import "code.less";
@import "grid.less";
@import "tables.less";
@import "forms.less";
@import "buttons.less";

// Components
@import "component-animations.less";
@import "dropdowns.less";
@import "button-groups.less";
@import "input-groups.less";
@import "navs.less";
@import "navbar.less";
//@import "breadcrumbs.less";
@import "pagination.less";
//@import "pager.less";
@import "labels.less";
@import "badges.less";
@import "jumbotron.less";
@import "thumbnails.less";
@import "alerts.less";
@import "progress-bars.less";
@import "media.less";
@import "list-group.less";
@import "panels.less";
//@import "wells.less";
@import "close.less";

// Components w/ JavaScript
@import "modals.less";
@import "tooltip.less";
//@import "popovers.less";
//@import "carousel.less";

// Utility classes
@import "utilities.less";
@import "responsive-utilities.less";

// JS STYLES

// @todo REFACTOR und einzelne Dateien anlegen!

.js .alert-js {
  display: none !important;
  visibility: hidden;
}

.no-js #notes {
	display: none !important;
	visibility: hidden;
}

// FLOWPLAYER STYLES

.flowplayer {
	.fp-embed {
   		display: none
   }
	// Cuepoints
	.fp-timeline {

	}
	.fp-cuepoint {
		display: inline-block;
		position: absolute;
		width: 1.5%;
		height: 10px;
		background-color: @red;
		top: 0;
	}
	a.fp-cuepoint:hover {
		height: 20px;
		top: -5px;
		transition: 0.5s ease-out;
	}
	.active-cue {
		height:  20px;
		top: -5px;
	}
	.fp-logo {
		display: block;
		opacity: .5 !important;
		width: 50px;
	}
}

// AJAX STYLES

#save-info {
	p {
		font-size: 0.3em;
	}
}

#save-info.request {
	background-color: @brown;
}

#save-info.success {
	background-color: @green;
}

// Notizformular

#note-content {
	resize: none;
}

// Formulare

form#login {
	margin: 50px 0;
}

form#feedback, form#support {
	#feedbackMessage, #supportMessage {
		resize: none;
	}
}

// NAVIGATION FIXES

nav.navbar a.btn {
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top: 7px;
	padding-bottom: 7px;
}

// BUTTONS

.btn-block {
	overflow: hidden;
	text-overflow: ellipsis;
 	padding-left: 12px;
 	padding-right: 20px;
}

#current-lection {
	.btn-block {
	 	padding-left: 0;
	 	padding-right: 0;
	}
}
